<html>
    <head>
        <title>Charly is coding</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Charly is coding</a></h1>
        </div>

        <div>
            <p>publié le 17 octobre 2020</p>
            <h2><a href="">Un premier blog créé avec les Django Girls !</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>publié le 17 octobre 2020</p>
            <h2><a href="https://djangogirls.org/">Les Django Girls, qu'est-ce que c'est ?</a></h2>
            <p>Django Girls organize free Python and Django workshops, create open sourced online tutorials and curate amazing first experiences with technology.</p>
        </div>
    </body>
</html>
